<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Home Page</title>
</head>
<body>
    <h1>Page 1-Home Page</h1>
    <a href="{% url 'contact' %}">Click to go to contact page</a>
    <button onclick="buttonFunc()">Click Me</button>
    <img src="{% static 'tree.jpg' %}" alt="">

    <script src="{% static 'main.js' %}"></script>
</body>
</html>